@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300);
* {
  /* Reset */
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: blue;
  font-family: 'Roboto', serif;
  color: #222;
}

h1 {
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 1em;
}

.navoverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity .1s;
}

.allholder {
  margin: 0px;
  width: 100%;
  height: 100%;
  position: relative;
}

.nav {
  height: 100%;
  background: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 60;
  transition: margin-left 0.3s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.nav .centered {
  padding: 12px 0 12px 95px;
  border-bottom: 1px #EDEDED solid;
}

.nav li {
  font-family: 'Roboto', san-serif;
  list-style-type: none;
  padding: 15px;
  margin-left: -40px;
}

.nav li:hover {
  background: #F0F0F0;
}

.selected {
  background: #F0F0F0;
}

.nav li a {
  color: #AAA;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: .2px;
  transition: .15s;
  padding-left: 15px;
}

.nav li a:hover {
  color: #555 !important;
}

.selected a {
  color: #222 !important;
}

#content {
  margin: 75px auto 0 180px;
  width: 70%;
}

[class*='col-'] {
  /* Targets anything with 'col-' */
  float: left;
}

.col-1-1 {
  width: 100%;
  height: 200px;
}

.col-1-3 {
  width: 33.333%;
  height: 200px;
}

.col-1-2 {
  width: 50%;
  height: 200px;
}

.col-1-5 {
  width: 5%;
}

/* ====================  FORM START ========================*/

h2 {
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 10px;
}

.nee {
  font-family: 'Roboto', serif;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
}
