{% extends 'base.html'%} {% import 'macros.html' as macro %} {% block content %}


<head>
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
</head>

<body>

  <div class="allholder">

    <div id="content">

      <blockquote class="blockquote blockquote-reverse" style="background-color: lawngreen;">
        <p class="mb-0">Welcome to the best site in the word for viewing all your news at one place .</p>
        <footer class="blockquote-footer">created by John Victor Njoroge Karanja
          <cite title="Source Title"></cite>
        </footer>
      </blockquote>

      <div class="container">
        <div class="well">
          <h1 id="general">General </h1>
        </div>



        {{macro.displaySourceList(general)}}



      </div>
      <div class="container">
        <div class="well">
          <h1 id="business">Business</h1>
        </div>


        {{macro.displaySourceList(business)}}

      </div>

      <div class="container">
        <div class="well">
          <h1 id='technology'>Technology</h1>
        </div>

        {{macro.displaySourceList(technology)}}


      </div>

      <div class="container">
        <div class="well">
          <h1 id="sports">Sports</h1>
        </div>

        {{macro.displaySourceList(sports)}}

      </div>

      <div class="container">
        <div class="well">
          <h1 id="health">Health</h1>
        </div>

        {{macro.displaySourceList(health)}}

      </div>
      <div class="container">
        <div class="well">
          <h1 id="science">Science</h1>
        </div>

        {{macro.displaySourceList(science)}}

      </div>
      <div class="container">
        <div class="well">
          <h1 id="entertainment">Entertainment</h1>
        </div>
        {{macro.displaySourceList(entertainment)}}

      </div>
    </div>
  </div>

</body>



{% endblock%}