{% macro displaySourceList(source_list) %} {% for source in source_list %}
<
<div class="col-md-3 col-xs-12 col-lg-3">
  <div class="well">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-uarr">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/news/{{source.id}}">{{source.name}}</a>
        </a>
      </div>
    </nav>
    <b>click here to see all the categoried of our {{source.id}} news chanel </b>
  </div>
</div>
{% endfor %} {% endmacro %} {% macro displayArticleList(articles_list) %} {% for article in articles_list %}


<div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
  <div class="card ">
    <div class="well">
      <div class="hovereffect">
        <img class="card-img-top img-responsive" src="{{article.urlToImage}}" alt="Card image cap">
        <div class="overlay">
          <h2>{{article.title}}</h2>

          <a class="info" href="{{article.url}}">click here for more</a>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{article.description}}</p>
        <p class="card-text">id :{{article.name}}</p>
        <p class="card-text"> auther :{{article.author}}</p>
        <p class="card-text"> was published at : {{article.publishedAt}}</p>
        <form action = "/setcookie" method = "POST">
         <button class="btn btn-danger" name = '{{article.url}}'> save offline</button>
       </form>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endmacro %}